body{
    font-family:Verdana;
    font-size: 3em;
}
#myButton{
    font-family:Verdana;
    font-size: 25px;
    text-align: center;
}
#myP1{
    font-family:Verdana;
    font-size: 15px;
}