#myDiv{
    width: 1000px;
    height: 1000px;
    background-color: lightblue;
}
#mybutton{
    width: 500px;
    height: 50px;
    color: azure;
    background-color: rgb(49, 47, 47);
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 10px;
}
#mybutton1{
    width: 500px;
    height: 50px;
    color: azure;
    background-color: rgb(49, 47, 47);
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 10px;
}
#mybutton2{
    width: 1000px;
    height: 50px;
    color: azure;
    background-color: rgb(49, 47, 47);
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 10px;
}